:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #E7EEF1;

  article {
    padding: 22px;
    margin-top: 18px;
    flex: 1;

    form {
      margin-top: 12px;

      .form-field {
        display: flex;
        flex-direction: column;

        label {
          font-weight: 600;
          font-size: 15px;
          color: #040F14;
        }

        input {
          width: 100px;
        }
      }
    }

    section {
      display: flex;

      app-card {
        & + app-card {
          margin-left: 12px;
        }
      }
    }
  }
}
