:host {
  width: 315px;
  border-radius: 2px;
  background-color: #FFFFFF;
  padding: 12px 20px;

  .title {
    font-weight: 700;
    font-size: 14px;
    color: #333333;
  }

  .subtitle {
    font-weight: 400;
    font-size: 11px;
    color: #787878;
  }
}
