<div class="logo">
  <img src="assets/images/ailos-logo.png" alt="">
</div>
<div class="cta-menu">
  <span class="material-symbols-outlined">
    menu
  </span>
</div>
<ul>
  <li>
    <span class="material-symbols-outlined">
      search
    </span>
  </li>
  <li>
    <span class="material-symbols-outlined">
      star
    </span>
  </li>
  <li>
    <span class="material-symbols-outlined">
      sms
    </span>
  </li>
  <li>
    <span class="material-symbols-outlined">
      tune
    </span>
  </li>
  <li>
    <span class="material-symbols-outlined">
      account_balance
    </span>
  </li>
</ul>
