:host {
  height: 77px;
  background-color: #FFFFFF;
  padding: 0 12px;
  display: flex;
  align-items: center;

  ::ng-deep {
    button {
      & + button {
        margin-left: 12px;
      }
    }
  }
}
