<div class="stepper">
  <div class="step-container">
    <div class="step-label active">
      <span class="material-symbols-outlined">
        circle
      </span>
      Início
    </div>
    <div class="step-line"></div>
    <div class="step-label">
      <span class="material-symbols-rounded">
        circle
      </span>
      Documentos
    </div>
    <div class="step-line"></div>
    <div class="step-label">
      <span class="material-symbols-rounded">
        circle
      </span>
      Dados cadastrais
    </div>
    <div class="step-line"></div>
    <div class="step-label">
      <span class="material-symbols-rounded">
        circle
      </span>
      Admissão
    </div>
  </div>
</div>
